.fadein {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

.zoom {
  transition: transform 1s;
}

.zoom {
  transform: scale(2);
}

#map {
  /* position: fixed; */
  animation: 2s infinite alternate circle;
}

#map:hover {
  animation-play-state: paused;
}

@keyframes circle {
  from {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(200px);
    clip-path: circle(200px);
  }
}

#aboutphone {
  animation: rotate 1s;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(450deg);
  }
} 

#animate {
  animation: drop 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 1s;
  -webkit-transform: translate3d(0, 0, 0);
  transform : translate3d(0, 0, 0);
}

@keyframes drop {
  to {
    transform: rotate(90deg);
  }
} 


@font-face {
  font-family: twcenmt;
  src: url("../../twcenmt.woff");
}

p {
  font-family: twcenmt !important;
  font-size: 1.3em !important;
  /* text-align: center !important; */
}

a {
  font-size: 0.7rem !important;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: twcenmt !important;
}

#home {
  background-image: url("../images/HTML\ USE\ IMAGE/banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  /* height: fit-content; */
  background-repeat: no-repeat;
  overflow: hidden;
  /* padding-top: 6em; */
  /* margin-top: -8em; */
}

#nav:hover {
  background-color: rgba(1,26,30);
}

.homephonemid {
  width: 15em;
  height: 380px;
  margin-top: 10em;
  /* padding-bottom: 2em; */
}

.homephone {
  width: 5em;
  height: 320px;
  margin-top: 10em;
}

#features {
  /* height: max-content; */
  /* background-color: rgba(0, 0, 0, 0.10) !important; */
  background-image: url("../images/section-2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
  /* margin-top: -8em; */
}

#header-logo {
  width: 6em;
  position: absolute;
  top: 0.7em !important;
}

#ninjatech {
  color: white;
  font-family: twcenmt;
  font-weight: bolder;
  font-size: 5.5rem;
  z-index: 10;
}

#footer {
  background-image: url("../images/HTML\ USE\ IMAGE/contactb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.ml15 {
  /* position: absolute; */
  top: 5rem;
  left: 10rem;
}

.drawerContent {
  font-family: twcenmt !important;
}

#feature {
  background-image: url("../images/section-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#design {
  /* height: 53.688em; */
  background-image: url("../images/HTML\ USE\ IMAGE/design.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#symmetricaldesign {
  padding-top: 1em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

#degree {
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 2em;
}

#featuresheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

#designp {
  padding-top: 1em;
  color: white;
  font-family: twcenmt;
  text-align: center;
  font-size: 1.2em;
  /* width: 35rem; */
  /* word-wrap: break-word; */
}

#designp2 {
  /* padding-top: 1em; */
  color: white;
  font-family: twcenmt;
  text-align: center;
  font-size: 1.2em;
  /* width: 35rem; */
  /* word-wrap: break-word; */
}

#touchheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

.touchtext {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 1.2em;
}

.touchtext2 {
  /* padding-top: 2em; */
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 1.2em;
}

#heading {
  text-align: center;
  font-size: 3em;
  font-family: twcenmt !important;
  margin-top: 2em;
}

#heading_ {
  text-align: center;
  font-size: 3em;
  font-family: twcenmt !important;
  margin-top: 2em;
}

#servicepoints {
  height: 61em;
}

.line {
  border-width: 2px;
  border-color: rgb(90, 149, 149);
  border-style: solid;
  /* position: absolute; */
  /* left: 462px; */
  /* top: 1143px; */
  margin-top: -3em;
  margin-left: 1em;
  width: 0px;
  height: 72px;
  /* z-index: 56; */
}

.featureicon {
  color: #3a8ea1;
}

.featureicon:hover {
  color: white;
}

.featureicon_ {
  color: #3a8ea1;
  margin: 2em;
}

.featureicon_:hover {
  color: white;
}

#touch {
  height: 90em;
  background-image: url("../images/HTML\ USE\ IMAGE/touch-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#qualcomm {
  height: 53.688em;
  background-image: url("../images/HTML\ USE\ IMAGE/qualcomm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#qualcommheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

.qualcommtext {
  padding-top: 2em;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 1.5em;
  font-weight: bold;
}

.qualcommp {
  text-align: center;
  color: white;
  width: 20em;
  /* float: right; */
  /* margin-top: 10rem; */
  margin-right: 10rem;
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 2em;
}

#ARPhone {
  /* height: 53.688em; */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#ARPhoneheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

#arphonesp {
  text-align: center;
    color: white;
    width: 30em;
    font-size: 1.2em;
    line-height: 2rem;
    margin-right: 1rem;
    position: relative;
    overflow-y: scroll;
}

#spiderman {
  width: 10rem;
}

#charger {
  /* background-color: rgba(0,0,0,0.7); */
  height: 53.688em;
  background-image: url("../images/HTML\ USE\ IMAGE/charger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#chargerheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
}

#chargersubheading {
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 1.5em;
}

#chargerp {
  text-align: center;
    color: white;
    width: 29rem;
    font-size: 1.2em;
    float: right;
    line-height: 2rem;
    margin-right: 2%;
    margin-top: 7rem;
}

#about {
  height: fit-content;
  background-image: url("../images/HTML\ USE\ IMAGE/about-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#aboutheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
  word-wrap: break-word;
}

#aboutline {
  width: 7em;
}

#aboutfeaturesimg {
  width: 250%;
  margin-top: 40%;
}

.snapdragon {
  width: 8em;
}

.snapdragonp {
  margin-top: -1em;
}

.touch {
  width: 4em;
  margin-top: -2em;
}


#services {
  height: fit-content;
  background-image: url("../images/HTML\ USE\ IMAGE/services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#servicesheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
  word-wrap: break-word;
}

.service {
  width: 30rem;
  margin-left: 5rem;
  display: flex;
}

.services-icon {
  width: 3.5em;
  height: 3.5em;
  margin-top: 5em;
  margin-right: 2rem;
}

#service-line {
  width: 7em;
}

.service-heading {
  font-size: 1.5em; 
  white-space: nowrap;
  font-weight: bolder;
}

.servicep {
  font-size: 1.2em;
  text-align: center;
}

#productsheading {
  padding-top: 2em;
  color: white;
  text-align: center;
  font-family: twcenmt;
  font-size: 3em;
  word-wrap: break-word;
}

#products {
  height: fit-content;
  background-image: url("../images/HTML\ USE\ IMAGE/products.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.productheading {
  text-align: center;
}

.productimg {
  width: 15rem;
}

.ntech900 {
  margin-top: 2rem;
}

#convince {
  height: fit-content;
  background-image: url("../images/HTML\ USE\ IMAGE/convince.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aboutp2 {
  width: 50%;
}

.abouticon {
  width: 5em;
  height: 5em;
}

.productdesc {
  width: 25em;
  word-wrap: break-word;
}

.carouselphone {
  width: 15em;
}

.slide {
  height: 52.3em;
}

#wallpaper {
  /* width: 200em !important; */
  height: 56em;
  background-image: url("../images/HTML\ USE\ IMAGE/pageswallpaper.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-position: center center;
  /* height: fit-content; */
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
  /* padding-top: 6em; */
  /* margin-top: -8em; */
}

#wallpaperp {
  float: right;
  width: 30em;
  margin-top: 23em;
}


/* mobile phones */
@media screen and (max-width:480px){

  #map {
    /* position: fixed; */
    animation: 2s infinite alternate circle;
  }
  
  #map:hover {
    animation-play-state: paused;
  }
  
  @keyframes circle {
    from {
      -webkit-clip-path: circle(0%);
      clip-path: circle(0%);
    }
    to {
      -webkit-clip-path: circle(100px);
      clip-path: circle(100px);
    }
  }
  #heading_ {
    text-align: center;
    font-size: 3em;
    font-family: twcenmt !important;
    margin-top: 2em;
    position: relative;
    top: -7em;
  }
  #wallpaperp {
    position: relative;
    top: -17em;
    font-size: 1em !important;
    width: 18em;
    margin-top: 10em;
  }

  #wallpaper {
    width: auto;
    background-size: cover;
    height: auto;
  }

  .touch {
    padding: 0;
    margin: 0;
  }

  .feature-icon_ {
    margin-top: 0 !important;
  }

  #featuresheading {
    margin-bottom: 2em;
  }

  .featuretext {
    margin-top: 0;
    padding-top: 2em !important;
  }
  .designphone {
    height: 20%;
    width: 20%;
  }

  #arphonesp {
      margin-right: 0;
  }

  .slide {
    height: 30em;
  }

  .homephonemid{
    height: 25%;
    width: 25%;
    padding-top: 10em;
  }

  .homephone {
    height: 15%;
    width: 15%;
    padding-top: 10em;
  }

  #convinceicons {
    max-width: min-content;
    height: 100%;
  }
  #aboutphone {
    width: 7em;
    height: 100%;
  }
  .productdesc {
    width: 15em;
    word-wrap: break-word;
  }
  #servicepoints {
    height: 30em;
  }
  .line {
    transform: rotate(90deg);
    justify-content: center;
    margin-top: 0;
    margin-left: 50%;
  }
  .service {
    /* width: 20rem; */
    margin-left: 0;
  }
  #about-phone-content {
    flex-wrap: wrap;
  }
  .aboutfeaturesp {
    width: 10rem !important;
    text-align: center !important;
  }

  #about-content {
    margin-left: 0;
  }

  #about {
    height: fit-content;
  }
  #aboutfeaturesimg {
    width: 16rem;
    padding-right: 2em;
  }

  #charger {
    height: fit-content;
  }
  #chargerp {
    margin-right: 0 !important;
    width: initial;
    float: none !important;
  }

  #arphonesp {
    width: 15em;
    margin-right: 0;
    font-size: 1.2em !important;
    line-height: 1.5em;
  }

  #spiderman {
    width: 8em;
  }

  #map {
    height: 10em;
  }

  #arphonescontent {
    flex-wrap: wrap;
    justify-content: initial !important;
    margin: 1rem !important;
    flex-direction: column;
  }

  .qualcommp {
    float: none;
    width: 1em !important;
    margin-right: 0;
    font-size: 0.95em !important;
    white-space: nowrap;
  }

  #home {
    background-size: contain;
    height: 30em;
  }

  #touch {
    height: 20em;
  }

  #touchheading {
    padding-top: initial;
  }

  #qualcomm {
    height: 35em;
  }

  #qualcommheading {
    margin-top: 0;
    padding-top: 0;
    padding: 1rem;
  }

  .aboutp2 {
    width: 90%;
  }
}

/* tablets */

@media only screen and (max-device-width: 768px){

  #map {
    height: 20em;
  }

  #home {
    height: auto;
  }
  #wallpaper {
    width: auto;
    background-size: contain;
    padding-top: 20em;
    height: auto;
  }

  .line {
    transform: rotate(90deg);
    justify-content: center;
    margin-top: 0;
    margin-left: 50%;
  }
  .service {
    width: 20rem;
    margin-left: 0;
  }
  #about-content {
    margin-left: 2rem !important;
  }
  .qualcommp {
    float: none;
    width: initial;
    margin-right: 0;
  }
}

@media screen and (max-width:480px){
  #home_ {
    flex-wrap: initial !important;
  }
}

@media screen and (max-width:596px){
  .line {
    transform: rotate(90deg);
    justify-content: center;
    margin-top: 0;
    margin-left: 50%;
  }

  .qualcommp {
    text-align: center;
    font-size: 1.2em;
    margin-right: 5em;
  }

  .whole {
    font-size: 1.18em;
  }
}


/* laptops */
@media only screen and (max-device-width: 1024px){
  .qualcommp {
    float: none;
    width: initial;
    margin-right: 0;
  }
}
/* --------------------------------------- */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background-color: rgb(0, 0, 0, 1) !important;
  color: white !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: twcenmt !important;
  font-weight: bold;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: twcenmt !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: twcenmt !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
p {
  font-family: twcenmt !important;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/* h1, h2, h4 {
  font-family: twcenmt !important;
  font-size: 3em !important;
}

h3, h5, h6 {
  font-family: twcenmt !important;
  font-size: 2em !important;
} */

p {
  font-family: twcenmt !important;
  font-size: 1.5em !important;
}

span {
  font-family: twcenmt !important;
  font-size: 1.5em !important;
}


